// rename this file to .env

MONGODB_URI='mongodb://gallery:gallery@mongo:27017/gallery'
MINIO_ACCESS_KEY='gallery'
MINIO_SECRET_KEY='12345678'
MINIO_URI='http://minio:9000'
REDIS_HOST='redis'
REDIS_PORT='6379'
REDIS_PASSWORD='eYVX7EwVmmxKPCDmwMtyKVge8oLd2t81'